* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

h1 {
  font-size: 70px;
  text-decoration: underline;
}

.container {
  color: white;
  height: 100vh;
  width: 100vw;
  background-image: url("../assets/mountain.jpg");
  background-size: cover;
  padding-top: 30vh;
}

.titles {
  vertical-align: middle;
  text-align: center;
  background-color: rgba(0,0,0,0.3);
  padding: 50px 0;
}

h1:nth-child(3) {
  font-size: 75px;
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 30px;
    }
    h2 {
      font-size: 20px;
    }
    h1:nth-child(3) {
      font-size: 35px;
    }
}
